
.jumbotron{
    background-color: #333131;
    border-radius: 0%;
    color: white;
}

.main{
	
	background-color: #EEEEEE;
	border-radius: 2%;
}

body{
	
	background-color: #92BFB1;
}

.choices > div{
	display: none;
	text-align: center;
}

.reset{
	display: none;
}
p{
	font-weight: bold;
	font-size: 1.5em;
	color: white;
}